@import "base";

.container {
	display: flex;
	flex-direction: column;
	width: min(calc(100% - 4rem), 30rem);
	height: 100%;
	.text-container {
		flex: 3;
		display: grid;
		place-items: center;
		p {
			font-size: 2rem;
		}
	}
	.button-container {
		flex: 1;
		display: grid;
		place-items: center;
	}
}
