@import "base";

.container {
	display: flex;
	flex-direction: column;
	width: min(calc(100% - 4rem), 30rem);
	min-height: 50vh;
	.text-container {
		flex: 3;
		position: relative;
		p {
			position: absolute;
			width: 100%;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			font-size: 2rem;
		}
	}
	.button-container {
		flex: 1;
		position: relative;
		button {
			position: absolute;
			width: 100%;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
	}
}
